div[typ="vip"]{
    color:red;
}
div[detaliczny="tak"]{
    color:green;
}
div[detaliczny^="moze"]{
    color:yellow;
}
div[detaliczny*="moze"]{
    color:yellow;
}
div[detaliczny$="tak"]{
    color:red;
}